<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
</head>
<body>
<h1>Welcome, Admin</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Actions</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user[0] }}</td>
        <td>{{ user[1] }}</td>
        <td>{{ user[2] }}</td>
        <td>{{ user[3] }}</td>
        <td>
            <a href="/edit_user/{{ user[0] }}">Edit</a> |
            <a href="/delete_user/{{ user[0] }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
<script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>